* {
  height: 100%;
  width: 100%;
}
#loginForm {
  width: 60%;
  padding: 5%;
  background-color: var(--second);
  height: unset;
  & > * {
    margin-bottom: 15px;
  }
}
aside {
  border-right: 1px solid var(--main);
  img {
    width: 186px;
    height: 50px;
  }
}

.loginContainer {
  background-color: var(--main);
  .loginBtn {
    border-radius: 3px;
  }
  .langs {
    cursor: pointer;
    &:hover {
      color: var(--main) !important;
    }
  }
}

/**********media queries***********/
@media (max-width: 1140px) {
  aside.logoContainer {
    display: none !important;
  }
}
