/**footer**/

#footer {
  padding-top: 13px;
  padding-bottom: 11px;
  width: 100vw;
  background-color: var(--main-foreground);
  position: fixed;
  bottom: 0px;
  img {
    width: 112px;
    height: 30px;
  }
}
